name: {{.RunName}}-train
engine: job
entrypoint: ../scripts/train.sh
runtime:
  image: {{.Image}}
  env:
    PROJECT_PACKAGE: {{.Package}}
    TRAIN_COMMAND: {{.TrainCommandYAML}}
{{if .HasUpstream}}    UPSTREAM_REPO: {{.UpstreamRepo}}
    UPSTREAM_REF: {{.UpstreamRef}}
    UPSTREAM_ROOT: {{.UpstreamRoot}}
{{end}}compute:
  gpus: 0
  cpu_request: "4"
  memory_request: 16Gi
  cpu_limit: "8"
  memory_limit: 32Gi
policy:
  disable_default_priorities: true
experiment:
  project: {{.Title}}
  title: {{.Title}} train scaffold
  group: tau-python-onboarding
resilience:
  max_retries: 2
  retry_on:
    - Preempted
    - Evicted
