schema: tau.workspace.connection.v1
workspace: {{.Workspace}}
cluster:
  contextName: {{.KubeContextYAML}}
  systemNamespace: {{.SystemNamespace}}
access:
  method: {{.AccessMethod}}
{{if .HasAKSAccess}}  aks:
    resourceID: {{.AKSResourceID}}
    tenantID: {{.AzureTenantID}}
{{end}}authorization:
  mode: {{.AuthorizationMode}}
  requiredRole: {{.RequiredRole}}
requirements:
  minTauVersion: {{.MinTauVersion}}
network:
  privateCluster: false
